streamlit>=1.29.0
pandas
scikit-learn>=1.4.0
pycaret==3.3.0
python-dotenv
openai>=1.0.0
langfuse
git+https://github.com/stefanrmmr/streamlit-audio-recorder.git#egg=audio-recorder-streamlit
joblib==1.2.0
